/* HomePage.css */

/* --- Mission Section Single Rotating Image --- */

.image-container {
  width: 450px; 
  height:450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; 
  top: 30px; 
}

.image {
  position: absolute;
  width: 100%; 
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
