<div class="modal-header">
  <h5 class="modal-title">{{ post.author.username }}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <div class="text-center">
    <img src="{{ post.image.url }}" class="img-fluid rounded mb-3" alt="">
  </div>
  <p>{{ post.content }}</p>
  <small class="text-muted">{{ post.created_at|date:"d/m/Y H:i" }}</small>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-primary">❤️</button>
  {% if user == post.author %}
    <button id="deleteBtn" class="btn btn-danger">🗑️</button>
  {% endif %}
</div>