.navbar {
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(8px);
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

.navbar-brand {
  color: #f09b07ff !important;
  font-weight: 800;
  font-size: 1.5rem;
}

.nav-link {
  color: #f09b07ff !important;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #e63946 !important;
}
